extends:
  - eslint:recommended
  - plugin:prettier/recommended

parserOptions:
  ecmaVersion: 2015
  sourceType: script

env:
  node: true
  browser: true
  es6: true

plugins:
  - prettier

rules:
  prettier/prettier: error
  prefer-const: error
  no-var: error
  strict: ["error", "global"]
